@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

@layer components {
  .text-shadow-bold {
    text-shadow: -0.06ex 0 currentColor, 0.06ex 0 currentColor;
  }
  .backface-visibility-hidden {
    backface-visibility: hidden;
  }
  .swiper-style {
    & .swiper-pagination-bullet {
      background: #fff;
      opacity: 0.5;
      width: 12px;
      height: 12px;
    }
    & .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
  .nav.active {
    & div {
      transform: translateY(-5px);
    }

    & .nav-text {
      text-shadow: -0.06ex 0 currentColor, 0.06ex 0 currentColor;
    }
    & .nav-highlight {
      visibility: visible;
    }
  }
  .element {
    width: 100%;
  }
  .btn-hero {
    position: relative;
    cursor: pointer;
    div {
      transition: color 0.3s ease;
      position: relative;
      z-index: 1;
    }
    &:before,
    &:after {
      content: "";
      background: #fff;
      height: 50%;
      width: 0;
      position: absolute;
      transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    &:before {
      top: 0;
      left: 0;
      right: auto;
    }
    &:after {
      bottom: 0;
      right: 0;
      left: auto;
    }
    &:hover {
      &:before {
        width: 100%;
        right: 0;
        left: auto;
      }
      &:after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }
  .border-radiants {
    position: relative;
  }
  .border-radiants::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.3px;
    filter: brightness(0.7);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  .react-player-wrapper iframe {
    position: absolute;
  }
}
